<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>My Website - About</title>
<link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
<h1>Odale Brown</h1>
<p>"Would you like me to give you a formula for </b><b></b>success?<b></b><br> It's quite simple, really: Double your rate of failure. <br>You are thinking of failure as the enemy of success. <br>But it isn't at all. <br>You can be discouraged by failure or you can learn from it, so go ahead and make mistakes.<br> Make all you can. Because remember that's where you will find success."</p>
</body>
</html>